:root {
  --dark-main-color: #201a25;
}
* {
  margin: 0;
  padding: 0;
}
/* IMAGE SIZE */
body {
  header {
    img {
      width: 5rem;
    }
  }
  main {
    img {
      width: 25rem;
    }
  }
}

/* DESKTOP 800+ index.html */
@media (min-width: 800px) {
  body {
    header {
      padding: 1rem 2rem;
      background-color: var(--dark-main-color);
      div#containerLogoNavbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        div#headerButtons {
          button {
            margin: 0px 1rem;
          }
        }
      }
    }
    main {
      font-family: "Markazi Text", serif;
      padding: 0px 20%;
      background-image: linear-gradient(#ffffff7c, #000000),
        url("iconeList/f23640ce1850782a18c629446eb7198f.png");
      background-position: center;
      background-size: cover;
      section#search {
        padding-bottom: 3rem;
        background-color: #6c757d38;
        color: #201a25;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
          margin: 1rem 0rem;
          font-weight: 700;
        }
        div#container {
          display: flex;
          div#containerLeft {
            .form-inline {
              #searchButton:hover {
                background-color: var(--dark-main-color) !important;
                border-color: var(--dark-main-color);
              }
              .form-control:focus {
                border-color: white;
                box-shadow: 0 0 0 0.25rem rgba(1, 1, 2, 0.356);
              }
            }
            ul {
              padding: 0;
              margin: 0;
              li {
                cursor: pointer;
                margin-top: -5px;
                list-style: none;
                background-color: #ffffff;
                border: rgba(184, 184, 184, 0.247) solid 1px;
                border-radius: 0px 0px 5px 5px;
                padding: 0.8rem;
                transition: 0.3s;
              }
              li:hover {
                background-color: rgb(209, 209, 209);
              }
            }
          }
          div#containerRight {
            margin-left: 1rem;
          }
        }
      }
      section#heroPageFavorites {
        display: flex;
        background-image: linear-gradient(#201a25ce, #201a25b2),
          url("iconeList/bc394e73bd63d3600b44cdf8f8080f7c.jpg");
        color: white;
        padding: 5rem 1rem;
        h1 {
          font-size: 7rem;
        }
      }
      section#myFavorites {
        display: flex;
        align-items: flex-end;
        color: white;
        padding: 2rem;
        background-color: rgb(71, 71, 71);
        button {
          margin: 0rem 1rem;
        }
      }
      section#filter {
        background-color: #201a2591;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 2.5rem 2.5rem;
        h2 {
          color: white;
          margin-bottom: 2rem;
          font-weight:900;
        }
        #alphabetFilter {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 10px;
        }

        #alphabetFilter label {
          color: white;
          display: inline-block;
          text-align: center;
          width: 40px;
          height: 40px;
          border: 1px solid #ccc;
          border-radius: 5px;
          line-height: 40px;
          cursor: pointer;
          font-weight: bold;
          transition: all 0.3s ease;
        }

        #alphabetFilter input[type="radio"] {
          display: none;
        }

        /* Effet hover et actif */
        #alphabetFilter label:hover {
          transform: scale(1.1);
          border-color: #007bff;
          box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
          color: #a9d3ff;
        }

        #alphabetFilter label:has(input[type="radio"]:checked) {
          background-color: #2e94d7;
          color: white;
          border-color: #00b7ff;
          box-shadow: 0 0 10px #1d4373;
        }
        /* Liste des termes */
        #terms-list {
          list-style: none;
          margin-top: 20px;
          padding: 0;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 2rem;
          grid-auto-rows: minmax(100px, auto);
          align-items: center;
        }

        #terms-list li {
          cursor: pointer;
          padding: 30px 15px;
          margin: 5px 0;
          font-weight: 700;
          font-size: 1.2rem;
          background-color: #ffffff;
          border: 1px solid #ddd;
          border-radius: 5px;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          transition: all 0.3s ease;
        }

        #terms-list li:hover {
          transform: translateX(5px);
          border-color: #000000;
          background-color: rgb(192, 192, 192);
          box-shadow: 0 0 10px rgba(255, 255, 255, 0.733);
        }
        div#buttonAll {
          display: flex;
          justify-content: flex-end;
          margin-top: 1rem;
          button {
            border: none;
            padding: 0.7rem 0.5rem;
            border-radius: 5px;
            background-color: #7cc0ff;
            font-weight: 500;
            transition: 0.4s ease-in-out;
          }
          button:hover {
            background-color: #022a81;
            color: white;
          }
        }
      }

      section#definition {
        background-color: #201a25;
        border-top: #5c636a solid 0.5rem;
        border-bottom: #dc3545 solid 0.5rem;
        padding: 1rem;
        div#containerTermTechnique {
          margin: 2rem 0rem;
          padding: 1rem;
          background-color: #e9e9e9;
          border: #cccccc solid 0.5rem;
          color: #201a25;
          border-radius: 10px;
          div#termTechniqueWord {
            font-size: 3rem;
            font-weight: 600;
          }
          div#termTechniqueDefinition {
            font-size: 2rem;
          }
        }
      }
    }
    footer.my-4 {
      background-color: var(--dark-main-color);
      margin: 0px !important;
      ul .text-muted {
        color: white !important;
      }
      p {
        color: #ffffff;
      }
      li {
        margin: 0.4rem 0.8rem;
      }
    }
    footer {
      li:hover {
        transform: scale(1.2);
        border-bottom: white 2px solid;
      }
    }
  }
}
/* MOBILE / DESKTOP -800 index.html */
@media (max-width: 800px) {
  body {
    header {
      padding: 1rem 1rem;
      background-color: var(--dark-main-color);
      div#containerLogoNavbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        div#headerButtons {
          button {
            margin: 0px 0.5rem;
            font-size: 1rem;
          }
        }
      }
    }
    main {
      font-family: "Markazi Text", serif;
      padding: 0px 1rem;
      background-image: linear-gradient(#ffffff57, #000000),
        url("iconeList/f23640ce1850782a18c629446eb7198f.png");
      background-position: center;
      background-size: cover;
      section#search {
        padding-bottom: 3rem;
        background-color: #6c757d93;
        color: #201a25;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
          margin: 1rem;
          font-weight: 700;
        }
        div#container {
          display: flex;
          div#containerLeft {
            .form-inline {
              #searchButton:hover {
                background-color: var(--dark-main-color) !important;
                border-color: var(--dark-main-color);
              }
              .form-control:focus {
                border-color: white;
                box-shadow: 0 0 0 0.25rem rgba(1, 1, 2, 0.356);
              }
            }
            ul {
              padding: 0;
              margin: 0;
              li {
                margin-top: -5px;
                list-style: none;
                background-color: #ffffff;
                border: rgba(184, 184, 184, 0.247) solid 1px;
                border-radius: 0px 0px 5px 5px;
                padding: 0.8rem;
                transition: 0.3s;
              }
              li:hover {
                background-color: rgb(209, 209, 209);
              }
            }
          }
          div#containerRight {
            margin-left: 1rem;
          }
        }
      }
      section#heroPageFavorites {
        display: flex;
        background-image: linear-gradient(#201a25ce, #201a25b2),
          url("iconeList/bc394e73bd63d3600b44cdf8f8080f7c.jpg");
        color: white;
        padding: 5rem 1rem;
        h1 {
          font-size: 5rem;
        }
      }
      section#myFavorites {
        display: flex;
        align-items: flex-end;
        color: white;
        padding: 2rem;
        background-color: rgb(71, 71, 71);
        button {
          margin: 0rem 1rem;
        }
      }
      section#filter {
        background-color: #201a25a6;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 2.5rem;
        padding: 2.5rem 0.5rem;
        h2 {
          color: white;
          margin-bottom: 2rem;
          font-size: 1.4rem;
        }
        /* Version mobile */
        #alphabetFilter {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 5px;
        }

        #alphabetFilter label {
          color: white;
          display: inline-block;
          text-align: center;
          width: 30px;
          height: 30px;
          line-height: 30px;
          font-size: 0.8rem;
          border: 1px solid #ccc;
          border-radius: 5px;
          cursor: pointer;
          font-weight: bold;
          transition: all 0.3s ease;
        }

        #alphabetFilter input[type="radio"] {
          display: none;
        }

        #alphabetFilter label:has(input[type="radio"]:checked) {
          background-color: #2e94d7;
          color: white;
          border-color: #00b7ff;
          box-shadow: 0 0 10px #1d4373;
        }

        /* Liste des termes */
        #terms-list {
          list-style: none;
          margin-top: 20px;
          padding: 0;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 0.5rem;
          align-items: center;
        }

        #terms-list li {
          padding: 20px 10px;
          font-size: 0.9rem;
          margin: 5px 0;
          font-weight: 700;
          background-color: #ffffff;
          border: 1px solid #ddd;
          border-radius: 5px;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          transition: all 0.3s ease;
        }
        div#buttonAll {
          display: flex;
          justify-content: flex-end;
          margin-top: 1rem;
          padding-right: 1rem;
          button {
            border: none;
            padding: 0.7rem 0.5rem;
            border-radius: 5px;
            background-color: #7cc0ff;
            font-weight: 500;
            transition: 0.4s ease-in-out;
          }
        }
      }
      section#definition {
        background-color: #201a25;
        border-top: #5c636a solid 0.5rem;
        border-bottom: #dc3545 solid 0.5rem;
        padding: 1rem;
        div#containerTermTechnique {
          margin: 1rem 0rem;
          padding: 1rem;
          background-color: #e9e9e9;
          border: #cccccc solid 0.5rem;
          color: #201a25;
          border-radius: 10px;
          div#termTechniqueWord {
            font-size: 2rem;
            font-weight: 600;
          }
          div#termTechniqueDefinition {
            font-size: 1.5rem;
          }
        }
      }
    }
    footer.my-4 {
      background-color: var(--dark-main-color);
      margin: 0px !important;
      ul .text-muted {
        color: white !important;
      }
      p {
        color: white;
      }
      li {
        margin: 0.4rem;
      }
    }

    footer {
      li:hover {
        transform: scale(1.2);
        border-bottom: white 2px solid;
      }
    }
  }
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
